.App {
  text-align: center;
  background-color: #f0f0f0;
  color: #333;
  font-family: 'Arial', sans-serif;
}

header {
  background: #282c34;
  padding: 20px;
  color: white;
}

footer {
  background: #282c34;
  padding: 10px;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}