.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@media (prefers-color-scheme: dark) {
  .App {
    background-color: #282c34;
    color: white;
  }
}